<div class="content">
  <div class="check">
    <div>水平垂直居中的方法</div>
    <label for="a" (click)="doCheckAll()"><input type="checkbox" value="" name="knowCheck" id="a" >全部</label>
    <label for="football" (click)="checkOne()"><input type="checkbox" value="" name="knowCheck" id="football">足球</label>
    <label for="baseball" (click)="checkOne()"><input type="checkbox" value="" name="knowCheck" id="baseball">篮球</label>
    <label for="coc" (click)="checkOne()"><input type="checkbox" value="" name="knowCheck" id="coc">排球</label>
  </div>
</div>
<div class="css">
  <div class="title">
      <div class="date">2006-2010</div>
      <div class="school">西安美院</div>
  </div>
</div>

<!--动画-->
<div class="ani">
  dasd
</div>

<!--过渡效果，不是写的动画-->
<div class="trans">
  sssss
</div>

<!--响应式图片及模态框-->
<div class="position">
  <img src="../../../assets/picture/photo.png" alt="" id="myImg" (click)="model()">
  <div class="word">wordwordwordword</div>
</div>
<div id="myModal" class="modal">
  <span class="close" (click)="close()">×</span>
  <img src="../../../assets/picture/photo.png" class="modal-content" id="img01">
  <div id="caption"></div>
</div>


