//引入组件的样式表
@import "variable";
@import "media/media-xs";
@import "media/media-sm";
@import "media/media-md";
@import "media/media-lg";
@import "./components/app";
@import "./components/navbar";
@import "./components/index";

body {
  background-color: #efefef;
  color: $font-color;
  font-family:"Microsoft YaHei","微软雅黑",Helvetica,Tahoma,Arial,STXihei,"华文细黑",sans-serif;
  font-size: $font-size-base;
}

p{
  text-indent:2em;    /*首行缩进两字符*/
  word-break:break-all;
}

h1,h2,h3,h4,h5 {
  color:$orange;
}
