$black:  #000    !default;
$white:  #fff    !default;
$orange: #ff9f20 !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #3792d8 !default;
$teal:   #17a2b8 !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;
$red:    #d9534f !default;

// Fonts
// Font, line-height, and color for body text, headings, and more.
$font-size-base:  14px !default;
$font-size-sm:    12px !default;
$font-size-lg:    16px !default;
$font-size-xl:    22px !default;
$font-size-xxl:   36px !default;
$font-color:      #333333 !default;

//background
$row-background:  #0e0e0e  !default;
