<div class="product">
 <table>
   <thead>
      <tr>
        <th style="width: 10%"><input type="checkbox" (click)="doCheckAll()">全选</th>
        <th style="width: 10%">编号</th>
        <th style="width: 10%">名称</th>
        <th style="width: 10%">价格</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let pro of product">
        <td><input type="checkbox" (click)="checkOne()"></td>
        <td >{{pro.code}}</td>
        <td >{{pro.name}}</td>
        <td >{{pro.price}}</td>
   </tr>
 </table>
</div>
<div class="selected">
  <ul>
    <li *ngFor="let item of chose">
      <span>{{item.name}}:{{item.price}}元</span>
    </li>
  </ul>
</div>
<div class="option">
  <button (click)="selected()">选择</button>
</div>

