<!--The content below is only a placeholder and can be replaced.-->
<div class="site-header" id="header">
  <span class="header-title"><strong>{{title}}</strong></span>
  <span class="time"></span>
  <label for="" class="logout pull-right">注销</label>
</div>
<div class="home">
  <span class="glyphicon glyphicon-home"></span>
  <span>主页/</span>
  <span>您好！Admin</span>
</div>
<div class="site-nav">
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active" href="#" *ngFor="let nav of navbar,let i=index" routerLink="{{nav.link}}" (click)="show(nav.id)">
      <a><strong>{{nav.name}}</strong></a>
      <ul *ngIf="nav.childStatus==true">
        <li *ngFor="let item of nav.children">
          <a><strong>{{item.name}}</strong></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="site-content">
  <router-outlet></router-outlet>
</div>
<div class="site-footer">
  <div >
    <span><strong>版权所有，仿冒必究</strong></span>
    <span style="margin-left: 20px;"><strong>CopyRight@2017 By YFX,ALL Rights Reserved</strong></span>
  </div>
</div>

