.hov {
  position: absolute;
  left: 98%;
  top: 2%;
  width: 5px;
  height: 30px;
  background-color: red;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
  -ms-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
  &:hover{
    height: 300px;
  }
}

