<div>
  <input type="text" placeholder="请输入行数" id="">
  <button (click)="read()">start</button>
  <br/>

  <!--通过设置border属性来更改水平线的样式，可通过div的高度来设置垂直线-->
  <hr style="border: solid 5px red;"/>
  <table id="paTest">
    <thead>
       <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
       </tr>
    </thead>
    <tbody>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
    </tbody>
  </table>
</div>
